.elementor-8955 .elementor-element.elementor-element-ce48733>.elementor-container {
    min-height: 48vh;
}

.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-ce48733.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-8955 .elementor-element.elementor-element-ce48733>.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000057 0%, #00000047 90%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8955 .elementor-element.elementor-element-ce48733 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 15% 0% 5% 0%;
}

.elementor-8955 .elementor-element.elementor-element-5aee9e7.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-8955 .elementor-element.elementor-element-3167934 .qodef-qi-animated-text {
    text-align: left;
}

.elementor-8955 .elementor-element.elementor-element-3167934 .qodef-qi-animated-text .qodef-m-title {
    color: #FFFFFF;
    font-family: "Oswald", Sans-serif;
    font-size: 154px;
    font-weight: 800;
}

.elementor-8955 .elementor-element.elementor-element-3167934>.elementor-widget-container {
    border-style: solid;
    border-width: 0px 0px 0px 6px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
}

.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-41e11c9.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-8955 .elementor-element.elementor-element-41e11c9:not(.elementor-motion-effects-element-type-background),
.elementor-8955 .elementor-element.elementor-element-41e11c9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("../../2024/02/home-page-pic.webp");
    background-size: cover;
}

.elementor-8955 .elementor-element.elementor-element-41e11c9>.elementor-background-overlay {
    background-color: #000000A3;
    opacity: 0;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-8955 .elementor-element.elementor-element-41e11c9 {
    transition: background 0s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 6% 0% 0% 0%;
}

.elementor-8955 .elementor-element.elementor-element-1600446.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-64a9c26.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-8955 .elementor-element.elementor-element-64a9c26 {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 0% 4% 0% 4%;
}

.elementor-bc-flex-widget .elementor-8955 .elementor-element.elementor-element-b1678f8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-8955 .elementor-element.elementor-element-b1678f8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-8955 .elementor-element.elementor-element-b1678f8.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-8955 .elementor-element.elementor-element-20b0dde {
    color: #FFFFFF;
    font-family: "Oswald", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-8955 .elementor-element.elementor-element-20b0dde.ob-harakiri {
    writing-mode: inherit;
}

.elementor-8955 .elementor-element.elementor-element-20b0dde.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-8955 .elementor-element.elementor-element-20b0dde.ob-harakiri .elementor-widget-container>div {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-8955 .elementor-element.elementor-element-20b0dde .elementor-widget-container {
    text-indent: 0px;
    mix-blend-mode: inherit;
}

.elementor-8955 .elementor-element.elementor-element-d1d5288.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-8955 .elementor-element.elementor-element-613a5b2>.elementor-widget-container {
    padding: 0% 0% 0% 0%;
}

.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-685b37b.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-8955 .elementor-element.elementor-element-685b37b {
    padding: 4% 4% 8% 4%;
}

.elementor-8955 .elementor-element.elementor-element-581b4aa.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-bc-flex-widget .elementor-8955 .elementor-element.elementor-element-ce787bf.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-8955 .elementor-element.elementor-element-ce787bf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-8955 .elementor-element.elementor-element-ce787bf.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-8955 .elementor-element.elementor-element-b3325e4 {
    color: #FFFFFF;
    font-family: "Oswald", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-8955 .elementor-element.elementor-element-b3325e4.ob-harakiri {
    writing-mode: inherit;
}

.elementor-8955 .elementor-element.elementor-element-b3325e4.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-8955 .elementor-element.elementor-element-b3325e4.ob-harakiri .elementor-widget-container>div {
    writing-mode: inherit;
    transform: rotate(0deg);
}

.elementor-8955 .elementor-element.elementor-element-b3325e4 .elementor-widget-container {
    text-indent: 0px;
    mix-blend-mode: inherit;
}

.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad.ob-bb-inner>.elementor-container>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad.ob-bb-inner>.elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad.ob-is-glider>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical>.elementor-row,
.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad.ob-is-glider.ob-bb-inner>.elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-8955 .elementor-element.elementor-element-672b8b2.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-8955 .elementor-element.elementor-element-c3f4fb3.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-post-outer-container {
    width: 33.33%;
    margin-bottom: 5px;
    padding-right: calc(5px/2);
    padding-left: calc(5px/2);
    padding: 10px 10px 10px 10px;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-thumbnail-container img {
    height: 200px;
    object-fit: fill;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-wrap {
    margin-left: calc(-5px/2);
    margin-right: calc(-5px/2);
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-content-wrapper {
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 14px 14px 14px 14px;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-pagination-container {
    text-align: right;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-framed-effect,
.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-bordered-effect,
.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-squares-effect:before,
.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-squares-effect:after,
.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-squares-square-container:before,
.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-squares-square-container:after,
.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-thumbnail-overlay {
    background-color: #0000004A;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-masked .premium-blog-thumbnail-container svg {
    height: 0px;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-entry-title,
.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-entry-title a {
    font-family: "Oswald", Sans-serif;
    font-weight: 600;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-meta-data {
    font-family: "Oswald", Sans-serif;
    font-weight: 400;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-post-content {
    font-family: "Oswald", Sans-serif;
    margin: 0px 0px 0px 0px;
}

.elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-post-container {
    background-color: #f5f5f5;
    padding: 0px 0px 0px 0px;
}

html,
body {
    overflow-x: auto;
}

@media(min-width:768px) {
    .elementor-8955 .elementor-element.elementor-element-b1678f8 {
        width: 61.032%;
    }

    .elementor-8955 .elementor-element.elementor-element-d1d5288 {
        width: 38.968%;
    }

    .elementor-8955 .elementor-element.elementor-element-581b4aa {
        width: 38.968%;
    }

    .elementor-8955 .elementor-element.elementor-element-ce787bf {
        width: 61.032%;
    }
}

@media(min-width:1367px) {

    .elementor-8955 .elementor-element.elementor-element-41e11c9:not(.elementor-motion-effects-element-type-background),
    .elementor-8955 .elementor-element.elementor-element-41e11c9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-post-outer-container {
        width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-8955 .elementor-element.elementor-element-62834f4 .premium-blog-post-outer-container {
        width: 100%;
    }
}